<% content_for :head do %>
<title> Try Ruby </title>
<%= stylesheet_link_tag "slides/try_ruby" %>

<% end %>
<section>
  <h1>Ruby</h1>
  <h2>Intro to programming</h2>
  <p>
    <small>
      Gant Laborde, co-founder
      <%= link_to "Iconoclast Labs, LLC" %>
    </small>
  </p>
  <p>
    <small>
      <%= link_to "gant@iconoclastlabs.com", "mailto:gant@iconoclastlabs.com" %>
      <%= link_to "@gantlaborde", "http://twitter.com/gantlaborde", class: 'twitter_link' %>
    </small>
  </section>
  <section>
    <section>
      <h1>Know Ruby</h1>
      <h3>Ruby is a Programming Language</h3>
      <p>Made in Japan with productivity and happiness in mind</p>
      <div class="fragment zoom-in">
        <%= image_tag('../assets/slides/try_ruby/matz.jpg', width: 500)%>
      </div>
      <aside class='notes'>
        Developed in the mid-1990s by Yukihiro "Matz" Matsumoto in Japan.  Ruby is developed with programmer happiness and productivity in mind.
      </aside>
    </section>
    <section data-background="#981A21">
      <h1>You mean Ruby <em>on Rails?</em></h1>
      <h2>...Right?</h2>
    </section>
    <section>
      <div>
        <h1>Not Always!</h1>
        <p><strong>Rails</strong> is a framework for making excellent web applications.</p>
      </div>
      <p class="fragment">Ruby can be found in <span class="fragment">desktop apps,</span> <span class="fragment">phones,</span> <span class="fragment">robots,</span> <span class="fragment">and even other frameworks!</span> </p>
      <br/>
      <h3 class="fragment accent_color">It's GREAT!</h3>
      <aside class='notes'>
        Desktop apps, with shoes, macruby, and RubyMotion.
        iPhones with RubyMotion.  Android with Ruboto
        EVEN ROBOTS!  with ARTOO and mRuby
        Sinatra is a micro-framework for quick web appliction dev.
        It's not daunting, it's great!
      </aside>
    </section>
  </section>
  <section>
    <section>
      <h1>TryRuby.org</h1>
      <%= image_tag('../assets/slides/try_ruby/try.jpg')%>
      <aside class='notes'>
        Let's all open our browsers and go to TryRuby.org to get started!
      </aside>
    </section>

  </section>

  <section>
    <section>
      <h1>Ruby on Your Computer</h1>
      <h3>We set up Vagrant</h3>

      <aside class='notes'>
        Vagrant is a tool to create, start, stop and provision development
        virtual machines. We configured a provisioning tool to set up each
        vagrant box identically so that everyone has a fully working VM and
        something they can't "damage".

        Vagrant, VirtualBox, Puppet in unison.

        Why a virtual machine?
        Windows is a terrible development environment if you're not writing for Windows.
        GUIs are slow to navigate. Unix treats everything as a file and a stream of text.
        Windows (> Vista treats everything as unique objects).
        Windows command line is near useless.
        Windows is difficult to script.

        OSX: we don't want to manipulate the system libraries it uses.
        OSX has a different set of dependencies too.

        Windows and OSX are *heavy* on system resources.  Linux is light.

        Nobody deploys code to OSX. Nobody deploys to Windows.
        Everyone deploys to linux, why not develop against the same system you're deploying to?
      </aside>
    </section>
  </section>

  <section>
    <section>
      <h1> Links and Resources </h1>
      <p>Read about Common Trip-Ups and Tour Ruby</p>
      <p> <%= link_to 'http://www.sitepoint.com/common-trip-ups-new-rubyists-part/', "http://www.sitepoint.com/common-trip-ups-new-rubyists-part/" %></p>
      <p>Enjoy Learning More Ruby with RubyWarrior</p>
      <p> <%= link_to 'https://www.bloc.io/ruby-warrior/', "https://www.bloc.io/ruby-warrior/#/" %></p>

      <aside class='notes'>
        Sitepoint article will help new rubyists!
        RubyWarrior is AWESOME
      </aside>
    </section>
  </section>

