<% content_for :head do %>
  <title> UX Design </title>
  <%= stylesheet_link_tag "slides/ux_design" %>

<% end %>
<section>
  <h1> UX Design</h1>
  <h1>Crash Course</h1>
  <h3> User Experience of the Web </h3>
  <p>
    <small>
      Matt Garrison, co-founder
      <%= link_to "Iconoclast Labs, LLC" %>
    </small>
  </p>
  <p>
    <small>
      <%= link_to "matt@iconoclastlabs.com", "matt@iconoclastlabs.com" %>
      or
    </small>
    <small>
      <%= link_to "@mattsgarrison", "http://twitter.com/mattsgarrison" %>
    </small>
</section>
<section>
  <h1> Terminology </h1>
  <h3> We're bad at words </h3>
  <br>
  <p> Analogies and metaphors everywhere. </p>
  <aside class='notes'>
    Unfortunately, the best way to describe
    something new or abstract is to anchor it to something you already
    know. See what I did there?.
  </aside>
</section>
<section>
  <section>
    <h1> HTML Fundamentals </h1>
    <h3> Structure </h3>
    <p>  HTML is like the frame of a car. </p>
    <aside class='notes'>
      It is the underlying structure. It influences your design, but for the most part it is not visible to the users.
    </aside>
  </section>

  <section>
    <h2> HTML is a <em>markup</em> language </h1>
    <h4> It tells the browser what content to display.</h4>
    <pre><code data-trim >
&lt;p&gt;This is content.&lt;/p&gt;

    </code></pre>
    <p>This is content.</p>
    <aside class='notes'>
      It separates content from presentation
    </aside>
  </section>

  <section>
    <h2> HTML is a <em>markup</em> language </h1>
    <h4> It tells the browser what content to display.</h4>
    <pre><code data-trim >
&lt;p&gt;This is content.&lt;/p&gt;
&lt;h2&gt;This is content.&lt;/h2&gt;

    </code></pre>
    <p>This is content.</p>
    <h2>This is content.</h2>
  </section>
  <section>
    <h2> HTML is a <em>markup</em> language </h1>
    <h4> It tells the browser what content to display.</h4>
    <pre><code data-trim >
&lt;p&gt;This is content.&lt;/p&gt;
&lt;h2&gt;This is content.&lt;/h2&gt;
&lt;p&gt;This is &lt;em&gt;also&lt;/em&gt; content.&lt;/p&gt;
    </code></pre>

    <p>This is content.</p>
    <h2>This is content.</h2>
    <p>This is <em>also</em> content.</p>
  </section>
  <section>
    <h2> HTML is a <em>markup</em> language </h1>
    <h4> It tells the browser what content to display.</h4>
    <pre><code data-trim >
&lt;p&gt;This is content.&lt;/p&gt;
&lt;h2&gt;This is content.&lt;/h2&gt;
&lt;p&gt;This is &lt;em&gt;also&lt;/em&gt; content.&lt;/p&gt;
&lt;img src="smiley_face.jpg"&gt;
    </code></pre>
    <p>This is content.</p>
    <h2>This is content.</h2>
    <p>This is <em>also</em> content.</p>
    <%= image_tag('../assets/slides/ux_design/smiley_face.jpg', size: '50')%>
  </section>



  <section>
    <h2> Required Structure </h2>
    <h3> "Boilerplate" </h3>
    <pre><code data-trim >
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
  &lt;title&gt;
    Brocolli vs. Brussel Sprouts
  &lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
  Brussel Sprouts are clearly the better vegetable.
&lt;/body&gt;
&lt;/html&gt;
      </code></pre>

    <aside class='notes'>
      It is the underlying structure. It influences your design, but for the most part it is not visible to the users.

      What are doctypes? HTML, XHTML, SVG, MathML, or combined types.

      The browser creates a Document Object Model based on your HTML.

      &lt;html&gt; root element
    </aside>
  </section>
    <section>
    <h2> A Simple Yet Complete Page </h2>

    <pre><code data-trim >
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
  &lt;title&gt;A tiny document&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;h1&gt;Main heading in my document&lt;/h1&gt;
  &lt;!-- Tell people what we're doing. --&gt;
  &lt;p&gt;
    I am &lt;em&gt;writing&lt;/em&gt;
    &lt;abbr title=&quot;Hyper Text Markup Language&quot;&gt;HTML&lt;/abbr&gt;.
  &lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
      </code></pre>
  <p>I am <em>writing</em>
  <abbr title="Hyper Text Markup Language">HTML</abbr>.</p>
    <aside class='notes'>
      Explain Attributes
    </aside>
  </section>


  <section>
    <h1> Lists </h1>
    <p> Order and Unordered</p>

    <aside class='notes'>
    What are some ordered lists? Recipes? Driving Directions?
    What are some unordered lists? Grocery shopping lists, inventories, etc

    Why else might we order things?  Sorting? Categorization?
    </aside>
  </section>
  <section>
    <h1> Ordered Lists </h1>
    <pre style="float:left; width: 30%"><code data-trim >
&lt;ol&gt;
  &lt;li&gt;
    Sugar
  &lt;/li&gt;
  &lt;li&gt;
    Cream
  &lt;/li&gt;
  &lt;li&gt;
    Coffee
  &lt;/li&gt;
  &lt;li&gt;
    Water
  &lt;/li&gt;
&lt;/ol&gt;
      </code></pre>
      <pre style="float:right; width: 30%"><code data-trim >
&lt;ol&gt;
  &lt;li&gt;
    Water
  &lt;/li&gt;
  &lt;li&gt;
    Coffee
  &lt;/li&gt;
  &lt;li&gt;
    Cream
  &lt;/li&gt;
  &lt;li&gt;
    Sugar
  &lt;/li&gt;
&lt;/ol&gt;
      </code></pre>
  <p>
    <ol style="float:left;">
      <li>
        Sugar
      </li>
      <li>
        Cream
      </li>
      <li>
        Coffee
      </li>
      <li>
        Water
      </li>
    </ol>
    <ol style="float:right;">
      <li>
        Water
      </li>
      <li>
        Coffee
      </li>
      <li>
        Cream
      </li>
      <li>
        Sugar
      </li>
    </ol>
    </p>
    <aside class='notes'>
    </aside>
  </section>

  <section>
    <h1> Unordered Lists </h1>
    <pre><code data-trim >
    &lt;h4&gt;Awesome 'B' Things&lt;/h4&gt;
&lt;ul&gt;
  &lt;li&gt;
    Bill Murray
  &lt;/li&gt;
  &lt;li&gt;
    Beer
  &lt;/li&gt;
  &lt;li&gt;
    Bubblewrap
  &lt;/li&gt;
&lt;/ul&gt;
      </code></pre>
  <div>
  <h4>Awesome 'B' Things</h4>
  <ul>
    <li>
      Bill Murray
    </li>
    <li>
      Beer
    </li>
    <li>
      Bubblewrap
    </li>
  </ul>
  </div>
  <aside class='notes'>

  </aside>
  </section>

  <section>
    <h1> HTML Practice </h1>
    <aside class='notes'>

    </aside>
  </section>

  <section>
    <h1> Links and Resources </h1>
    <p>Mozilla Developer Network - HTML</p>
    <p> <%= link_to 'https://developer.mozilla.org/en-US/docs/Web/HTML', "https://developer.mozilla.org/en-US/docs/Web/HTML" %> </p>
    <p><strike>W3Schools</strike></p>
    <p><strike>http://www.w3schools.com/</strike></p>

    <p>
      <%= link_to "HTML5 Boilerplate", "http://html5boilerplate.com/" %>
    </p>
    <aside class='notes'>

    </aside>
  </section>

</section>

<section>
  <section>
    <h1> CSS </h1>
    <h2>Cascading Style Sheets</h2>
    <p> also a markup language</p>

    <aside class='notes'>

    </aside>
  </section>
  <section>
    <h1> Adding Style </h1>
    <p>CSS describes the <em>presentation</em> of your HTML.</p>

    <aside class='notes'>
      At this point, everything is still basically static.

      You can have different CSS for different sizes of screens,
      CSS for when printing a website, or even how screen readers
      should present your page.
    </aside>
  </section>
  <section>
    <h1> Key Concepts </h1>
    <p>Selectors</p>
    <p>The Box Model</p>
    <p>Inheritence</p>
    <aside class='notes'>

    </aside>
  </section>

  <section>
    <h1> Selectors </h1>
    HTML
    <pre><code data-trim class="html">
&lt;div class='insect' id='bees'&gt;Bees&lt;/div&gt;
&lt;div class='insect' id='wasps'&gt;Wasps&lt;/div&gt;
&lt;div class='arachnid' id='spiders'&gt;Spiders&lt;/div&gt;
      </code></pre>
    CSS
    <pre><code data-trim class="css">
#bees{ color: blue; }
#wasps{ color: green; }
.insect{ background-color: red; }
div{ font-style: italic }
    </code></pre>
    Result
    <div class='insect italic' id='bees' >Bees</div>
    <div class='insect italic' id='wasps'>Wasps</div>
    <div class='arachnid italic' id='spiders' >Spiders</div>
    <aside class='notes'>
      Universal, type, class, attribute,
      pseudo-classes, IDs, and inline.
    </aside>
  </section>
  <section>
    <h1>The Box Model</h1>

    <div style="background-color: #eee; padding: 0px 2em 2em 2em; width: 16em; margin-left: auto; margin-right: auto;">
     <p style="text-align: center; margin: 0px;">margin</p>
     <p style="text-align: center; margin: 0px 0px -.75em 0px;">border</p>
     <div style="background-color: #fff; padding: 0px 2em 2em 2em; border: 4px solid #fd9;">
      <p style="text-align: center;">padding</p>
      <div style="background-color: #eee;">
       <p style="text-align: center; padding: 0px; margin: 0px; font-size: 200%; font-weight: bold; color: #999;">element</p>
      </div>
     </div>
    </div>


  </section>
</section>


