.row
  .columns.small-12.medium-6.large-6.small-centered{style: "margin-top: 10px;"}
    %div{:'data-magellan-expedition' => "fixed"}
      %dl.railsgirls-sub-nav.small-centered
        %dd{:'data-magellan-arrival' => "title"}
        %dd{:'data-magellan-arrival' => "about"}
          = link_to 'About', root_path + '#about'
        %dd{:'data-magellan-arrival' => "location"}
          = link_to 'Location', root_path + '#location'
        %dd{:'data-magellan-arrival' => "schedule"}
          = link_to 'Schedule', root_path + '#schedule'
        %dd{:'data-magellan-arrival' => "resources"}
          = link_to 'Resources', root_path + "#resources"
        %dd
          = link_to 'Graduates', graduates_path + "#graduates"          
