.row
  .columns.small-12.medium-6.large-6.small-centered{style: "margin-top: 10px;"}
    %div{:'data-magellan-expedition' => "fixed"}
      %dl.railsgirls-sub-nav.small-centered
        %dd
          = link_to 'About', welcome_index_path + '#about'
        %dd
          = link_to 'Location', welcome_index_path + '#location'
        %dd
          = link_to 'Schedule', welcome_index_path + '#schedule'
        %dd{:'data-magellan-arrival' => "resources"}
          = link_to 'Resources', resources_path + "#resources"
        %dd{:'data-magellan-arrival' => "graduates"}
          = link_to 'Graduates', graduates_path + "#graduates"

.row
  .columns.small-12.large-12
    %a{name:"graduates"}
    %h2.nav_section.columns.small-12{:'data-magellan-destination'=>"graduates"} Rails Girls NOLA Graduates
  .columns.small-12.large-12
    .panel
      %h3.subheader
        February 2014 Graduates
        %ul
          %li Place your name!