.row.top_logo
  .columns.small-10.medium-8.large-6.small-centered
    %a{name:"Title"}
    = image_tag 'Logo.png', :'data-magellan-destination'=>"title"

= render "shared/navigation"

= render "shared/about"

= render "shared/location"

= render "shared/schedule"

= render "shared/resources"