<!DOCTYPE html>
<html>
<head>
  <title>Rails Girls NOLA</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :modernizr %>
  <link rel="shortcut icon" href="favicon.png">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer>
  Footer
</footer>
<script>
  $(function() {
    $(document).foundation();
  });
</script>
</body>
</html>
