<!DOCTYPE html>
<html>
<head>
  <title>Rails Girls NOLA</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag :modernizr %>
  <link rel="shortcut icon" href="favicon.png">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
